.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-font {
  font-size: 150%;
  margin-left:4vw;
  margin-right:4vw;
}

.nav-font-inner {
  color: #605448;
  font-family:"DMSerif";
  font-weight: 300; 
  font-size: 120%;
}

@font-face {
  font-family: "NotoSerif";
  src: local("NotoSerif"),
    url("./resources/NotoSerifDisplay-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "IBMPlexSerif";
  src: local("IBMPlexSerif"),
    url("./resources/IBMPlexSerif-Regular.ttf") format("truetype");
  font-weight: 10;
}

@font-face {
  font-family: "DMSerif";
  src: local("DMSerif"),
    url("./resources/DMSerifDisplay-Regular.ttf") format("truetype");
  font-weight: 10;
}